# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

# Sets the GITHUB_TOKEN permissions to allow deployment to GitHub Pages
#permissions:
#  contents: write
#  pages: write
#  id-token: write

# Allow one concurrent deployment
#concurrency:
#  group: 'pages'
#  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - name: Install and Build   # 安装依赖、打包，如果提前已打包好无需这一步
      run: |
        npm install
        npm run build
    - name: Add 404.html
      run: cp dist/index.html dist/404.html
    - name: Add .nojekyll
      run: touch dist/.nojekyll
    - name: Deploy   # 部署
      uses: JamesIves/github-pages-deploy-action@v4
      with:
        branch: gh-pages # 部署后提交到那个分支
        folder: dist # 这里填打包好的目录名称
        token: ${{ secrets.GITHUB_TOKEN }}
        clean: true
        force: true
        single-commit: true
